      .chart-gauge
      {
        width: 100%;
        margin: 100% auto  
       } 
      .chart-first
      {
        fill: #3366ff;
      }
            .chart-third
            {
                fill: #ff0000;
            }
    
      .needle, .needle-center
      {
        fill: #000000;
      }
            .text {
                color: #ff6666;
                font-size: 20%;
            }
            

.liquidFillGaugeText {font-size:150%; font-family: Helvetica; font-weight: bold; }

#map{
		display :block;
		margin-left : 10%;
		font-size:50%;
		text-align:center;
	}
	h1{
		text-align: center;
		text-decoration: bold;
	}
	header {
		margin-left: auto;
		margin-right: auto;
	}
	#statesvg
	{
	display: block;
	margin: auto;
	margin-top:8%;
	}
	.state{
		position: relative;
		margin-left: auto;
		margin-right: auto,
		fill: black;
		fill-opacity:1;;
		stroke: rgb(0,0,0);
		stroke-width: 0.8;
	}
	.state:hover{
		fill-opacity:0.3;
	}
	#tooltip {   
		position: absolute;
		left : 200px;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font:sans-serif;        
		background: lightsteelblue;   
		border: 1px;
		z-index:10;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}

#fillgauge1
	{
		margin-top:12%;
	}
